<link rel="stylesheet" type="text/css" href="/static/css/example.css">
<h1>Created specifications from JSON file.</h1>

<table>
 <tr>
  <th>Model Nunber</th><th>Product</th><th>Component</th>
  <th>PowerConsumption(W)</th>
  <th>PowerConsumption(VA)</th>
  <th>Heat dissipation(BTU/hr)</th>
  <th>Heat dissipation(KJ/hr)</th>
  <th>Width</th>
  <th>Depth</th>
  <th>Height</th>
  <th>Height(U value)</th>
  <th>Weight(kg)</th>
  <th>100V　Current(A)</th>
  <th>200V　Current(A)</th>
  <th>Voltage(V)</th>
  <th>Temperature(℃)</th>
  <th>Humidity(%)noncondensing</th>
  <th>Power cord Qty</th>
  <th>Plug Type</th>
  <th>Note</th>
 </tr>
 <tr>
  {{html_DPE | safe}}
 </tr>
 <tr>
  {{html_DAE | safe}}
 </tr>
</table>